{% extends "base.html" %}

{% block title %}Home — Jazz Events{% endblock %}
{% load tz %}

{% block content %}
<h1>Welcome to Jazz Events</h1>
<p>Times in America/Los_Angeles</p>
<div class="events">
{% if events %}
    {% for event in events %}
        <div class="oneevent">
            <button onclick="addEvent('{{ event.name }}')">
                <p>{{ event.name }}</p>
                <p>{{ event.since_days|floatformat:1 }} days ago</p>
                <p>{{ event.count }} times
                {% if event.has_recurrence %}
                every {{ event.recurrence|floatformat:1 }} days
                {% endif %}
                </p>
            </button>
        </div>
    {% empty %}
        <p>No events yet.</p>
    {% endfor %}
{% else %}
    <p>No events yet.</p>
{% endif %}
<div class="oneevent">
    <button onclick="newEvent()">
    <input type="text" id="new_event_name" placeholder="Event name">
    <br>Add Event
    </button>
</div>
</div>

{% endblock %}
