{% extends "base.html" %}

{% block title %}Home — Jazz Events{% endblock %}
{% load tz %}

{% block content %}
<h1>Welcome to Jazz Events</h1>
<p>Times in America/Los_Angeles</p>
<div class="events">
{% if events %}
    {% for event in events %}
        <div class="oneevent">
            <button onclick="addEvent('{{ event.name }}')">
            {{ event.name }}<br>
            {{ event.count }}<br>
            {% timezone "America/Los_Angeles" %}
            {{ event.latest|date:"N j, Y" }}<br>
            {{ event.latest|time:"g:i a" }}</p>
            {% endtimezone %}
            </button>
        </div>
    {% empty %}
        <p>No events yet.</p>
    {% endfor %}
{% else %}
    <p>No events yet.</p>
{% endif %}
<div class="oneevent">
    <button onclick="newEvent()">
    <input type="text" id="new_event_name" placeholder="Event name">
    <br>Add Event
    </button>
</div>
</div>

{% endblock %}
